/* API Google font : police Diphylleia */
@import url("https://fonts.googleapis.com/css?family=Diphylleia");

:root {
    --color-primary: rgb(25, 136, 201);
    --color-secondary: #1565c0;
    --color-text-primary: rgb(255, 255, 255);
    --color-border: rgb(255, 255, 255);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    
    font-family: 'Diphylleia', serif;
    font-size: 25px;

    align-content: center;
    text-align: center;
}

#titre {
    margin: 0;
    padding: 0;
}

#cercle {
    display:flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    width: 200px;

    margin-left: auto;
    margin-right: auto;

    /*border: 2px solid white;*/
    border-radius: 50%;

    color: var(--color-text-primary);

    background:
        linear-gradient(var(--color-secondary), var(--color-secondary))
        content-box no-repeat,
        conic-gradient(rgb(208, 26, 29) var(--progression, 0%), 0, var(--color-border))
        border-box
    ;
}

#temps {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

#bouton {
    margin: 1%;
    cursor: pointer;
    user-select: none;
}

.donut {
    aspect-ratio: 1 / 1 ;
    border-radius: 50%;
    border:1.5vmin solid transparent;
}

.boite {
    margin-top: 30px;
    margin-bottom: 30px;
}

.cadre {
    padding: 0% 1% 0% 1%;
    background-color: var(--color-secondary);
    color: var(--color-text-primary);

    border: 2px solid var(--color-border);
    border-radius: 3px;
}

.range_c {
    position: relative;
    top: 5px;
}

/* -------------------- MEDIA QUERIES ----------------------------- */

@media screen and (max-width: 1024px) {
    .boite {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .boite {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}